<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  </head>
  <body>
    <div id="App"></div>
  </body>
  <script>
    Vue.component("TodoList", {
      props:["list"],
      data() {
        return {
          childCount: 0,
        };
      },
      template: `
            <div>
                <ul>
                  <li v-for="item in list">
                    <slot :itemEmit="item"></slot>
                  </li>
                </ul>
            </div>
        `,
    });
    let app = new Vue({
      el: "#App",
      data: {
        msg: "Hello World",
        nice: "look this",
        list:[
          {
            name:"cain",
            age: 18
          },
          {
            name:"snake",
            age: 28
          }
        ]
      },
      template: `
            <div>{{msg}}
                <TodoList :list="list">
                    <template v-slot="data">
                      {{data.itemEmit.name}} - {{data.itemEmit.age}}
                      <span v-if="data.itemEmit.age == 18">*</span>
                    </template>
                  </TodoList>
            </div>
        `,
    });
  </script>
</html>
